flet>=0.28.3
sounddevice>=0.5.2
vosk>=0.3.45
transformers>=4.56.1
torch>=2.8.0
numpy>=2.3.2
keyboard>=0.13.5
huggingface-hub>=0.34.4
sentencepiece>=0.2.1
sacremoses>=0.1.1
safetensors>=0.6.2
tokenizers>=0.22.0
